/* Geral */
body {
  padding-top: 80px;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: #f0f4ff;
  color: #001f3f;
}

h1 {
  margin-bottom: 1rem;
}

section {
  padding-top: 60px;
  padding-bottom: 5px;
}

/* NAVBAR*/
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  text-shadow: 1px 1px 2px #f6f8fa;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-nav .nav-link {
  margin-right: 20px;
  padding: 10px 0;
  position: relative;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #cce0ff;
  transition: width 0.5s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-nav .nav-link:hover {
  color: white !important;
}

/* Offcanvas menu personalizado */
@media (min-width: 768px) {
  #offcanvasMenu {
    display: none !important;
  }
}

.custom-offcanvas {
  background-color: #f8f9fa;
  width: 250px;
  transition: transform 0.3s ease-in-out;
}

.custom-offcanvas .nav-link {
  color: black !important;
  font-weight: 500;
}

.custom-offcanvas .nav-link:hover {
  background-color: black;
  border-radius: 5px;
  padding-left: 10px;
}

/* Sobre */
.sobre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10vh;
  margin-top: 40px;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}
.sobre-item {
  max-width: 50%;
  flex: 1 1 45%;
}
/* Serviços */
.service-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 40px;
}
.service-item {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 250px;
}
.service-item .icon {
  transition: transform 0.3s ease;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.service-item:hover {
  transform: scale(1.2);
}

/* Carrossel Farmácia */
#carouselFarmacia .carousel-item {
  background-image: url('img/logoCelular.png');
  background-size: cover;
  background-position: center;
  padding: 40px;
}
#carouselFarmacia .carousel-inner img,
#carouselParcerias .carousel-inner img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  transition: transform 0.3s ease;
}
#carouselFarmacia .carousel-inner img:hover,
#carouselParcerias .carousel-inner img:hover {
  transform: scale(1.02);
}

/* Carrossel Parcerias */
#carouselParcerias .carousel-item {
  background-color: transparent;
}

/* Rodapé */
footer {
  background-color: black;
  padding: 40px 20px;
  color: white;
  text-align: center;
}

footer h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

footer p {
  color: white;
}

/* Ícones sociais */
.social-ring {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid currentColor;
  transition: all 0.4s ease;
  overflow: hidden;
}
.social-ring::before {
  content: '';
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: height 0.6s ease;
  border-radius: 50%;
}
.social-ring:hover::before {
  height: 100%;
  background-color: #fff;
}
.social-ring:hover {
  color: #cce0ff;
  transform: rotate(5deg);
}
